# Core LangChain
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface

# Hugging Face
transformers
huggingface-hub

# OpenAI Integration (optional)
# langchain-openai
# openai

# Anthropic Integration (optional)
# langchain-anthropic

# Google Gemini Integration (optional)
# langchain-google-genai
# google-generativeai

# Environment Variables
python-dotenv

# ML / DL
numpy
scikit-learn
torch
torchvision
torchaudio

# Streamlit (UI for apps)
streamlit

# Jupyter / TQDM fix
jupyter
ipywidgets
tqdm
faiss-gpu
faiss-cpu
